---
layout: default
title: "About Me"
permalink: /about/
---

<article class="profile">
    <div class="profile-inner">
        <h1>About Me</h1>
        <img src="/assets/images/profile.png" alt="Profile Picture" class="profile-img">
        <p>Hello! I am a literature critic and writer who loves analyzing and reviewing literature.</p>
        <p>Follow my writings and thoughts on various literary works.</p>
        <ul class="social-links">
            <li><a href="https://github.com/literaturelover" target="_blank">GitHub</a></li>
            <li><a href="https://twitter.com/yourprofile" target="_blank">Twitter</a></li>
        </ul>
    </div>
</article>
